* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-style: "Times New Roman", serif;
  font-weight: normal;
  background-color: #494949;
}

main {
  padding-top: 1em;
  padding-bottom: 2em;
  width: 100%;
}

a {
  color: #000 !important;
  text-decoration: none
}

.none {
  display: none;
}

.header_main {
  width: 100%;
}

.button {
  width: 6em;
}

.content {
  width: 100%;
}

.class_btn_select {
  margin: auto;
  border-radius: 30px;
}

.button_class {
  width: 4em;
}

.content_class {
  margin: 0 3%;
  width: 100%;
}

.card_addition {
  margin-right: 1em;
  margin-top: 2em;
  width: 15em;
}

.content_class_calls {
  width: 17em;
  margin: auto;
}

.card_addition_calls {
  margin-right: 1em;
  margin-top: 2em;
  width: 17em;
}

.calls_li {
  text-align: center;
}

.card_header_addition {
  background-color: rgb(241, 183, 85);
}

.footer_main {
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(52, 58, 64);
  height : 4em;
}

.footer-title {
  margin: auto;
  font-size: 13px;
}
